{% extends "base-admin.html.twig" %}

{% block title %}Tableau de bord - {{parent()}}{% endblock %}

{% block main %}
<section class="admin-section">
	<div class="wrap">
		<h1 class="section-title">Tableau de bord</h1>
	</div>
</section>
{% endblock %}
