{% extends "base-gray.html.twig" %}

{% block title %} Devenez jobeur - Etape 1 - {{ parent() }} {% endblock %}

{%block body%}
<!--[if lte IE 9]><p class="outdated-browser">Votre navigateur semble trop ancien. <a href="http://browsehappy.com/" target="_blank">Utilisez un navigateur moderne</a> pour profiter pleinement des fonctionnalités du site.</p><![endif]-->
<div class="container">
    <form accept-charset="UTF-8" action="" class="new_jobber_rules_form" id="new_jobber_rules_form" method="post">
        <div class="card my-4">
            <div class="card-body">
                <h1 class="module-title mb-4">Charte de bonne conduite</h1>
                <p class="font-size-3">Devenir
                     Jobeur c’est l’opportunité de compléter vos revenus, en choisissant les
                     jobs qui vous intéressent, en gérant votre propre agenda. Avec Alloservice
                     vous êtes votre propre patron.
                </p>
                <p class="font-size-3">Être Jobeur 
                    vous engage et vous rend responsable; vous êtes votre propre patron et 
                    vous allez travailler comme prestataire de service indépendant pour les 
                    clients (appelés également POSTEUR). Vous n'êtes pas employé par 
                    Alloservice, c’est donc vous qui supervisez ou contrôlez votre travail - 
                    vous êtes responsable de la façon dont vous vous présentez à vos 
                    clients.
                </p>
                <p class="font-size-3">Un bon comportement sur Alloservice vous
                     permet de remporter plus de jobs. Pour bien commencer votre aventure en
                     tant que Jobeur, nous vous invitons à valider la présente charte de 
                    bonne conduite.
                </p>
                <div class="row">
                    <div class="col-sm-2 text-center text-sm-right">
                        <svg aria-hidden="true" aria-label="Jobeur Règle 1" class="d-inline-block align-middle mt-3" height="72" role="img" version="1.1" viewbox="0 0 96 96" width="72">
                            <path d="M67 38.7C78.45 41.4 87 51.73 87 64c0 14.34-11.66 26-26 26S35 78.34 35 64c0-4.33 1.06-8.4 2.94-12H11.22C8.9 52 7 50.1 7 47.78V12.22C7 9.9 8.9 8 11.22 8h51.56C65.1 8 67 9.9 67 12.22V38.7zM39.1 50c3.06-4.78 7.65-8.5 13.06-10.45-.1-.16-.16-.35-.16-.55 0-.55.45-1 1-1h2c.37 0 .7.2.87.5 1.66-.33 3.37-.5 5.13-.5 1.36 0 2.7.1 4 .3V12.23C65 11 64 10 62.78 10H11.22C10 10 9 11 9 12.22v35.56C9 49 10 50 11.22 50H39.1zM26 34.4l3.64 1.85c1.45.73 2.36 2.2 2.36 3.82v1.25c0 .8 0 2.68-10 2.68s-10-1.88-10-2.68V40c0-1.58.86-3.02 2.23-3.77L18 34.38V34c-1.63-.9-2.77-2.35-3.4-4.36-.98-.52-1.6-1.52-1.6-2.64v-1c0-.92.42-1.77 1.13-2.34.14-.94.37-1.83.7-2.64.15-.37.28-.63.38-.86.28-.58.36-1.82.36-1.82l2.44-.2s2.5-.1 3.36-.16c.2-.02.42-.03.64-.03 4.6 0 7.23 1.92 7.85 5.7.72.57 1.15 1.42 1.15 2.35v1c0 1.12-.62 2.12-1.6 2.64-.63 2-1.77 3.47-3.4 4.36v.4zM22 42c4.84 0 7.38-.53 8-.9v-1.03c0-.87-.48-1.65-1.26-2.04l-3.78-1.93c-.6-.3-.96-.9-.96-1.57v-1.8l.6-.27c1.52-.66 2.5-1.9 3.02-3.82l.14-.53.53-.15c.4-.13.7-.52.7-.95v-1c0-.36-.2-.7-.54-.88l-.47-.25-.07-.52c-.36-3.04-2.18-4.4-5.93-4.4-.16 0-.32 0-.48.02-1.53.12-4.12.16-4.12.16s-.04.15-.38.88c-.1.2-.2.45-.33.77-.33.77-.54 1.64-.63 2.57l-.06.53-.46.25c-.33.18-.54.52-.54.88v1c0 .43.3.82.7.95l.54.16.14.54c.5 1.92 1.5 3.16 3.02 3.82l.6.26v1.8c0 .67-.4 1.3-1 1.6L15.16 38c-.7.37-1.15 1.14-1.15 1.97v1.1c.62.37 3.16.9 8 .9zm15-19c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1H37zm14 0c-.55 0-1-.45-1-1s.45-1 1-1h1c.55 0 1 .45 1 1s-.45 1-1 1h-1zM38 38c.55 0 1 .45 1 1s-.45 1-1 1h-1c-.55 0-1-.45-1-1s.45-1 1-1h1zm6 0c.55 0 1 .45 1 1s-.45 1-1 1h-2c-.55 0-1-.45-1-1s.45-1 1-1h2zm5 0c.55 0 1 .45 1 1s-.45 1-1 1h-1c-.55 0-1-.45-1-1s.45-1 1-1h1zm10-11c.55 0 1 .45 1 1s-.45 1-1 1H37c-.55 0-1-.45-1-1s.45-1 1-1h22zm0 6c.55 0 1 .45 1 1s-.45 1-1 1H37c-.55 0-1-.45-1-1s.45-1 1-1h22zm2 55c13.23 0 24-10.77 24-24S74.23 40 61 40 37 50.77 37 64s10.77 24 24 24zm12.25-34.66c.37-.42 1-.46 1.42-.1.4.38.44 1 .08 1.42l-16 18c-.2.23-.47.34-.75.34-.22 0-.44-.07-.63-.22l-10-8c-.43-.34-.5-.97-.15-1.4.34-.44.97-.5 1.4-.16l9.26 7.4 15.37-17.28z" fill-rule="evenodd" fill="#FDDB04"></path>
                        </svg>
                    </div>
                    <div class="col-sm-10">
                        <p class="text-primary font-size-5 mt-3 text-center text-sm-left">Donner de véritables informations</p>
                            <div class="form-check">
                                <input class="form-check-input" id="jobber_rules_form_rule1" name="" type="checkbox" value="1">
                                <div class="form-check-label font-weight-normal">Les informations telles que mon prénom, mon nom et ma pièce d’identité sont véritables.</div>
                                </label>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-center text-sm-right">
                        <svg aria-hidden="true" aria-label="Jobeur Règle 2" class="d-inline-block align-middle mt-3" height="72" role="img" version="1.1" viewbox="0 0 96 96" width="72">
                            <path d="M39.12 61.5H6v-53h58v29.52l1-.02c14.34 0 26 11.66 26 26S79.34 90 65 90 39 78.34 39 64c0-.84.04-1.68.12-2.5zm.27-2c.78-4.5 2.73-8.6 5.52-12H36v12h3.4zM62 38.17V33.5H50v9.27c3.47-2.46 7.57-4.1 12-4.6zm0-27.67H8v7h54v-7zm-28 9H22v12h12v-12zM65 88c13.23 0 24-10.77 24-24S78.23 40 65 40 41 50.77 41 64s10.77 24 24 24zM22 45.5h12v-12H22v12zm26-12H36v12h12v-12zm0-14H36v12h12v-12zm14 12v-12H50v12h12zm-28 28v-12H22v12h12zm-26 0h12v-12H8v12zm0-14h12v-12H8v12zm12-26H8v12h12v-12zm46 40.52c1.72.45 3 2 3 3.86 0 2.2-1.8 4-4 4-1.86 0-3.4-1.28-3.86-3H54c-.55 0-1-.45-1-1s.45-1 1-1h7.14c.37-1.4 1.46-2.5 2.86-2.86V49.88c0-.55.45-1 1-1s1 .45 1 1v10.14zm-1-16.14c-.55 0-1-.45-1-1v-1c0-.55.45-1 1-1s1 .45 1 1v1c0 .55-.45 1-1 1zm0 40c.55 0 1 .45 1 1v1c0 .55-.45 1-1 1s-1-.45-1-1v-1c0-.55.45-1 1-1zm22-21c.55 0 1 .45 1 1s-.45 1-1 1h-1c-.55 0-1-.45-1-1s.45-1 1-1h1zm-43 0c.55 0 1 .45 1 1s-.45 1-1 1h-1c-.55 0-1-.45-1-1s.45-1 1-1h1zM79.85 47.6c.4-.38 1.02-.38 1.4.02.4.4.4 1.02 0 1.4l-.7.72c-.2.2-.44.3-.7.3-.26 0-.5-.1-.7-.3-.4-.4-.4-1.03 0-1.42l.7-.7zm-30.4 30.42c.38-.4 1.02-.4 1.4 0 .4.4.4 1.02 0 1.42l-.7.7c-.2.2-.45.3-.7.3-.26 0-.52-.1-.7-.3-.4-.4-.4-1.02 0-1.4l.7-.72zm31.1 0l.7.7c.4.4.4 1.03 0 1.42-.18.2-.44.3-.7.3-.25 0-.5-.1-.7-.3l-.7-.7c-.4-.4-.4-1.03 0-1.42.38-.4 1.02-.4 1.4 0zm-30.4-30.4l.7.7c.4.4.4 1.02 0 1.42-.2.2-.44.3-.7.3-.25 0-.5-.1-.7-.3l-.7-.7c-.4-.4-.4-1.03 0-1.42.38-.4 1-.4 1.4 0z" fill-rule="evenodd" fill="#FDDB04"></path>
                        </svg>
                    </div>
                    <div class="col-sm-10">
                        <p class="text-primary font-size-5 mt-3 text-center text-sm-left">Être fiable</p>
                        <div class="form-check">
                            <label>
                                <input class="form-check-input" id="jobber_rules_form_rule2" name="" type="checkbox" value="1">
                                <div class="form-check-label font-weight-normal">Je serai à l’heure aux jobs et je proposerai uniquement mes services pour les jobs que j’ai l’intention d’effectuer.
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-center text-sm-right">
                        <svg aria-hidden="true" aria-label="Jobeur Règle 3" class="d-inline-block align-middle mt-3" height="72" role="img" version="1.1" viewbox="0 0 96 96" width="72">
                            <path d="M58.5 42.57l.26-.53c.6-1.23 1.84-2 3.2-2 1.38 0 2.62.77 3.22 2L70.58 53c.24.47.68.8 1.2.87l12.1 1.75c1.35.2 2.46 1.13 2.88 2.44.43 1.3.08 2.7-.9 3.67l-8.75 8.53c-.37.36-.54.9-.45 1.4l2.07 12.04c.23 1.36-.32 2.7-1.43 3.5-.63.46-1.37.7-2.1.7-.58 0-1.15-.15-1.68-.42l-10.8-5.7c-.48-.23-1.02-.23-1.5 0l-10.8 5.7c-1.22.64-2.66.53-3.77-.28-1.1-.8-1.66-2.14-1.43-3.5l2.07-12.04c.08-.5-.1-1.04-.47-1.4L44.53 68H11.5V8h32.4l14.6 14.6v19.97zm-2 4.05V24h-14V10h-29v56h28.96l-4.38-4.27c-.98-.96-1.33-2.36-.9-3.67.42-1.3 1.53-2.24 2.9-2.44l12.08-1.75c.52-.08.96-.4 1.2-.87l3.14-6.38zm-12-35.2V22h10.6L44.5 11.4zm3 17.58c.55 0 1 .45 1 1s-.45 1-1 1h-16c-.55 0-1-.45-1-1s.45-1 1-1h16zm-19.63-2.78c.44-.35 1.07-.28 1.4.16.36.43.3 1.05-.15 1.4l-5 4c-.18.15-.4.22-.62.22-.26 0-.5-.1-.7-.3l-2-2c-.4-.38-.4-1.02 0-1.4.38-.4 1.02-.4 1.4 0l1.37 1.36 4.3-3.44zM47.5 40c.55 0 1 .45 1 1s-.45 1-1 1h-16c-.55 0-1-.45-1-1s.45-1 1-1h16zm-19.63-2.78c.44-.35 1.07-.28 1.4.16.36.43.3 1.05-.15 1.4l-5 4c-.18.15-.4.22-.62.22-.26 0-.5-.1-.7-.3l-2-2c-.4-.38-.4-1.02 0-1.4.38-.4 1.02-.4 1.4 0l1.37 1.36 4.3-3.44zM47.5 51c.55 0 1 .45 1 1s-.45 1-1 1h-16c-.55 0-1-.45-1-1s.45-1 1-1h16zm-19.63-2.78c.44-.35 1.07-.28 1.4.16.36.43.3 1.05-.15 1.4l-5 4c-.18.15-.4.22-.62.22-.26 0-.5-.1-.7-.3l-2-2c-.4-.38-.4-1.02 0-1.4.38-.4 1.02-.4 1.4 0l1.37 1.36 4.3-3.44zM74.67 72c-.2-1.17.2-2.35 1.04-3.17l8.76-8.53c.44-.43.6-1.04.4-1.62-.2-.6-.67-1-1.28-1.08l-12.1-1.76c-1.16-.17-2.16-.9-2.7-1.96l-5.4-10.95c-.27-.55-.8-.88-1.4-.88-.63 0-1.16.33-1.43.88l-5.4 10.95c-.53 1.06-1.54 1.8-2.7 1.96l-12.1 1.76c-.6.1-1.08.5-1.27 1.08-.2.58-.04 1.2.4 1.62l8.75 8.53c.84.82 1.23 2 1.03 3.17L47.2 84.04c-.1.6.13 1.18.62 1.55.5.35 1.12.4 1.67.1l10.8-5.68c.53-.27 1.1-.4 1.67-.4.57 0 1.15.13 1.67.4l10.8 5.7c.56.27 1.18.23 1.68-.13.5-.38.73-.95.63-1.56L74.68 72z" fill-rule="evenodd" fill="#FDDB04"></path>
                        </svg>
                    </div>
                    <div class="col-sm-10">
                        <p class="text-primary font-size-5 mt-3 text-center text-sm-left">Respecter les conditions</p>
                        <div class="form-check">
                            <label>
                                <input class="form-check-input" id="jobber_rules_form_rule3" type="checkbox">
                                <div class="form-check-label font-weight-normal">Je
                                 respecterai les conditions établies avec le posteur : le prix, le jour,
                                 l’heure, ainsi que l’ensemble des détails qui concernent le job.
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-center text-sm-right">
                        <svg aria-hidden="true" aria-label="Jobeur Règle 4" class="d-inline-block align-middle mt-3" height="72" role="img" version="1.1" viewbox="0 0 96 96" width="72">
                            <path d="M51.13 55.1c10.54-3.38 22.58-.9 30.93 7.46l8.14 8.14-7.94 7.94c-5.95 5.94-13.75 8.92-21.56 8.92-7.8 0-15.62-2.98-21.56-8.92L31 70.5l2.5-2.5H18.86c-2.05 0-3.73-1.67-3.73-3.73V27h1.03c.06-.1.12-.2.2-.3l5.86-5.86-8.35-1.17.62-4.4c.26-1.95 2.06-3.3 4-3.03l9.35 1.3.42-2.96c.1-.8.53-1.5 1.17-1.97.64-.48 1.43-.68 2.22-.57l7.92 1.1c.8.12 1.5.54 1.98 1.18.48.65.7 1.44.57 2.23l-.4 2.97 9.34 1.32c.94.13 1.77.62 2.35 1.38.57.76.8 1.7.68 2.63l-.62 4.4-7.35-1.03V27h5v28.1zm-2 .73V29h-32v35.27c0 .95.78 1.73 1.73 1.73H35.5l3.44-3.44c3-3 6.48-5.24 10.2-6.73zm3-35.27c.04-.42-.06-.83-.3-1.16-.26-.33-.63-.54-1.04-.6l-14.62-2.06-8.6-1.2-9.35-1.32c-.86-.12-1.64.47-1.76 1.32l-.34 2.42 35.65 5 .34-2.4zm-16 5.44h-6v1h6v-1zm-5.88-15.14l-.4 2.97 9.9 1.4.4-2.98c.04-.26-.02-.52-.2-.73-.15-.22-.38-.36-.65-.4l-7.92-1.1c-.26-.05-.52.02-.74.18-.2.17-.35.4-.4.66zM44.13 26h-3v1h3v-1zm-21.66-2.6L18.9 27h7.16l-3.58-3.6zm16.66.6h5.57l-21.9-3.08 5.33 5.32V24h10v3h1v-3zm41.7 53.22l6.54-6.52-6.72-6.73c-11.1-11.1-29.2-11.1-40.3 0l-6.52 6.53 6.72 6.72c11.1 11.1 29.2 11.1 40.3 0zM60.58 57.57c7.17 0 13 5.83 13 13s-5.83 13-13 13-13-5.83-13-13 5.83-13 13-13zm0 24c6.07 0 11-4.93 11-11 0-6.06-4.93-11-11-11-6.06 0-11 4.93-11 11s4.94 11 11 11zm-1-19c.55 0 1 .45 1 1s-.45 1-1 1c-2.76 0-5 2.24-5 5 0 .55-.45 1-1 1s-1-.45-1-1c0-3.86 3.14-7 7-7z" fill-rule="evenodd" fill="#FDDB04"></path>
                        </svg>
                    </div>
                    <div class="col-sm-10">
                        <p class="text-primary font-size-5 mt-3 text-center text-sm-left">Être attentif et rigoureux</p>
                            <div class="form-check">
                                <label>
                                    <input class="form-check-input" id="jobber_rules_form_rule4" name="" type="checkbox" value="1">
                                    <div class="form-check-label font-weight-normal">Je
                                        serai attentif aux demandes du posteur, je laisserai l’endroit propre 
                                        après mon intervention et je m’assurerai auprès de celui-ci d’avoir 
                                        répondu à ses besoins.
                                    </div>
                                </label>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-center text-sm-right">
                        <svg aria-hidden="true" aria-label="Icone devenir jobeur 1" class="d-inline-block align-middle mt-3" height="72" role="img" version="1.1" viewbox="0 0 96 96" width="72">
                            <path d="M42 20H23v58h50V20H54v-1c0-.56-.45-1-1-1H43c-.54 0-1 .45-1 1v1zm0 2h-6v8h24v-8h-6v3H42v-3zm-8 0h-9v54h46V22h-9v10H34V22zm22.33 45H45.67c-.37 0-.67.45-.67 1s.3 1 .67 1h10.66c.37 0 .67-.45.67-1s-.3-1-.67-1zm-11.95-5.78l-6.3 5.44-2.37-2.37c-.38-.4-1.02-.4-1.4 0-.4.38-.4 1.02 0 1.4l3 3c.2.2.44.3.7.3.22 0 .44-.07.62-.22l7-6c.44-.34.5-.97.16-1.4-.34-.44-.97-.5-1.4-.16zM35 45h22c.55 0 1-.45 1-1s-.45-1-1-1H35c-.55 0-1 .45-1 1s.45 1 1 1zm0 5h5c.55 0 1-.45 1-1s-.45-1-1-1h-5c-.55 0-1 .45-1 1s.45 1 1 1zm20-2h-7c-.55 0-1 .45-1 1s.45 1 1 1h7c.55 0 1-.45 1-1s-.45-1-1-1zm-11.7.28c-.2.2-.3.44-.3.7 0 .3.1.54.3.73.18.2.43.3.7.3.27 0 .52-.1.7-.3.2-.18.3-.44.3-.7 0-.27-.1-.53-.3-.72-.37-.37-1.03-.37-1.4 0zM46 53h-7c-.55 0-1 .45-1 1s.45 1 1 1h7c.55 0 1-.45 1-1s-.45-1-1-1zm-11 2c.27 0 .52-.1.7-.3.2-.18.3-.44.3-.7 0-.27-.1-.53-.3-.72-.36-.37-1.04-.37-1.4 0-.2.2-.3.44-.3.7 0 .3.1.54.3.73.18.2.43.3.7.3zm9-35h8v3h-8v-3z" fill-rule="evenodd" fill="#FDDB04"></path>
                        </svg>
                    </div>
                    <div class="col-sm-10">
                        <p class="text-primary font-size-5 mt-3 text-center text-sm-left">Accepter les frais de service</p>
                        <div class="form-check">
                            <label>
                                <input class="form-check-input" id="jobber_rules_form_rule5" name="jobber_rules_form[rule5]" type="checkbox" value="1">
                            <div class="form-check-label font-weight-normal">J'accepte
                                 les frais de service de 3% retenus par Alloservice sur les revenus 
                                réalisés sur le site, en contrepartie des services suivants : paiement 
                                sécurisé des prestations, assurance AXA, service client et 
                                administratif.</div>
                            </label>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3">
                    <small>En
                         validant, j’accepte et m’engage à respecter la charte de bonne 
                        conduite. Le fait de ne pas respecter cette charte peut entraîner la 
                        suspension de mon compte voire sa suppression.</small>
                </p>
                <div class="row mt-3">
                    <div class="col-md-4 offset-md-8">
                        <a href="{{path('alloservice_site_step2')}}">Step_2</a>
                        <input class="btn btn-lg btn-block btn-yellow" data-disable-with="Veuillez patienter" name="commit" type="submit" value="Je valide">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{%endblock%}
