{% extends "base.html.twig" %}

{% block title %} CGU - {{ parent() }} {% endblock %}

{% block body %}
    <div style="background-color: #F4F5F6; padding-bottom: 8px; text-align: justify">
        <!--[if lte IE 9]><p class="outdated-browser">Votre navigateur semble trop ancien. <a href="http://browsehappy.com/" target="_blank">Utilisez un navigateur moderne</a> pour profiter pleinement des fonctionnalités du site.</p><![endif]-->
        <div class="container pt-4">
            <h1>Conditions Générales d'Utilisation du site internet Alloservice.ch</h1>
            <ul class="breadcrumb mg-0 pl-0">
                <li class="breadcrumb-item">
                    <a class="link-gray" href="{{ path('alloservice_site_homepage') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item active">Conditions Générales d'Utilisation du site internet Alloservice.ch</li>
            </ul>
            <p>Les présentes Conditions Générales d’Utilisation exposent les modalités d’accès et d’utilisation du site Internet
                <strong>alloservice.ch</strong>
                (le « Site »), édité par la société Netdistrict (la « Socitété »).</p>
            <p>IL EST IMPERATIF DE LES LIRE ATTENTIVEMENT DANS LA MESURE OU ELLES S’APPLIQUENT DE PLEIN DROIT A TOUT ACCES ET/OU A TOUTE UTILISATION DU SITE.</p>
            <p>Alloservice se réserve le droit de les modifier à tout moment, sans avertissement préalable. Les internautes sont de ce fait invités à s’y référer avant tout accès et/ou utilisation du Site.</p>
            <h2>Conditions générales</h2>
            <h3>1 - Définitions</h3>
            <p>
                <strong>Site</strong>
                : ensemble des fonctionnalités et services fournis par le site internet dont l’URL est <span class="text-info">https://alloservice.ch</span><br><strong>Annonce de job</strong>
                : ensemble des données (texte, photographie, localisation, description de service, coordonnées, …) regroupées dans les annonces de demandes de services publiées sur le Site par des particuliers à destination de particuliers.<br><strong>Profil jobeur</strong>
                : ensemble des données (texte, photographie, localisation, description de service, coordonnées, …) regroupées dans les annonces d’offres de services publiées sur le Site par des particuliers à destination de particuliers.<br><strong>Posteur</strong>
                : annonceur inscrit sur le Site, agissant en son nom et pour son compte, qui cherche un particulier ou un auto-entrepreneur pour réaliser une prestation de services et qui publie dans ce but une ou des annonces de jobs sur le Site.<br><strong>Jobeur Prestataire</strong>
                : particulier ou auto-entrepreneur annonceur inscrit sur le Site, agissant en son nom et pour son compte, qui cherche à être contacté par un particulier pour réaliser des prestations de services.<br><strong>Job</strong>
                : objet d’une demande de services tel qu’il est mentionné dans une annonce publiée sur le Site par un Posteur.<br><strong>Membre</strong>
                : internaute inscrit sur le Site, qui peut être indépendamment Posteur ou Jobeur ou les 2.</p>
            <h3>2 – Présentation générale du site alloservice.ch</h3>
            <p>2.1 Netdistrict se propose d’héberger, de stocker et de rendre accessible, à partir du Site, la publication d’annonces de demandes de services (les « annonces de jobs ») et d’annonces d’offres de services (les « Profils jobeurs »).</p>
            <p>2.2 L’insertion sur le Site d’annonces de jobs par l’annonceur (le « Posteur») est gratuite. L’insertion sur le Site de Profils jobeurs par le particulier ou d’une personne morale représentant une entreprise qui cherche à être contacté pour réaliser des prestations de services (le « Jobeur ») est gratuite. La sélection d’un Jobeur par le posteur entraine des frais de service à la charge du posteur. La réalisation d’un job pour un posteur entraine des frais de services à la charge du jobeur.</p>
            <p>2.3 Les Posteurs et les Jobeurs (les « Membres ») sont seuls responsables des relations qui naissent entre eux à partir des annonces publiées par leurs soins sur le Site.</p>
            <p>IL EST EXPRESSEMENT SOULIGNE A L’ATTENTION DES MEMBRES QUE LA CONSULTATION ET L’UTILISATION DES ANNONCES NE DOIT EN AUCUN CAS LES CONDUIRE A DEPASSER, VIOLER, ENFREINDRE OU PORTER ATTEINTE DE QUELQUE MANIERE QUE CE SOIT ET A QUELQUE TITRE QUE CE SOIT AUX REGLES LEGALES APPLICABLES AUX OFFRES ET DEMANDES D’EMPLOIS OBJETS DES DISPOSITIONS DU CODE DU TRAVAIL RELATIVES AUX CONTRATS DE MISE A DISPOSITION ET AUX ENTREPRISES DE TRAVAIL TEMPORAIRE (les Membres peuvent se reporter sur cette question aux articles L1251-42 et suivants du Code de travail).</p>
            <h3>3 - Rôle de Alloservice</h3>
            <p>3.1 Alloservice est un site de publication d’annonces de jobs et de Profils jobeurs qui permet aux membres :</p>
            <p>1) de chercher et d’offrir des services à destination du domicile dans un cadre légal et sécurisé</p>
            <p>2) de se mettre directement en relation entre particuliers ou entre particulier et personnes morales représentant une entreprise, ou entre deux personnes morales représentant une entreprise, pour la réalisation de ces prestations de services. Les outils et services développés par Alloservice, qui sont sa propriété, ont ainsi uniquement pour vocation de :</p>
            <ul>
                <li>permettre aux particuliers employeurs de publier des annonces de jobs à destination d’autres particuliers ou de personnes morales représentant une entreprise ;</li>
                <li>permettre à des particuliers ou des personnes morales représentant une entreprise de publier des Profils jobeurs à destination des particuliers employeurs ;</li>
                <li>permettre à des particuliers ou des personnes morales représentant une entreprise d’être alertés lorsqu’une annonce susceptible de correspondre aux informations qu’ils ont renseignées dans leur espace Membre est postée sur le Site (« JobList »).</li>
                <li>permettre à une entreprise de publier des annonces de jobs à destination d'auto-entrepreneurs.</li>
            </ul>
            <p>3.2 Alloservice ne joue pas d’autre rôle que celui de support d’annonces Internet et de mise en relation entre les parties, de ce fait :</p>
            <ul>
                <li>n’est ni recruteur, ni employeur, ni agence d’intérim ou entreprise de travail temporaire ;</li>
                <li>n’exerce aucun lien de subordination à l’égard des posteurs ou jobeurs ;</li>
                <li>n’est en aucun cas mandaté par les Posteurs pour rechercher des tiers capables de réaliser des prestations de services ;</li>
                <li>n’est en aucun cas mandaté par les jobeurs pour rechercher des tiers sollicitant la réalisation de prestations de services ;</li>
                <li>n’est en aucun cas partie au contrat qui peut éventuellement unir un posteur et un Jobeur ;</li>
                <li>n’intervient à aucun moment dans la réalisation de prestations de services entre posteurs et jobeurs, lesquelles dépassent le champ de compétences et d’intervention du Site.</li>
            </ul>
            <p>3.3 Les Membres se mettent en relation les uns les autres en totale liberté, à partir des annonces de jobs et des Profils jobeurs publiés sur le Site, sans que le Site intervienne à aucun moment dans ce processus de sélection.</p>
            <p>Les posteurs positionnent en totale liberté leurs annonces sur le Site et choisissent comme ils l’entendent les Profils jobeurs qui leur conviennent, en ayant à tout moment la possibilité de retirer leurs annonces du Site dès lors qu’ils n’ont pas préalablement sélectionné un jobeur pour réaliser une prestation décrite dans une annonce de job. Les jobeurs positionnent en totale liberté leurs annonces sur le Site et choisissent comme ils l’entendent les annonces de jobs qui leur conviennent, en ayant à tout moment la possibilité de retirer leurs annonces du Site dès lors qu’ils n’ont pas été préalablement sélectionnés par un posteur pour réaliser une prestation décrite dans un Profil Jobeur.</p>
            <h3>4 – Accès au Site</h3>
            <p>4.1 Toute personne peut visiter les zones librement accessibles du Site, notamment la page d’accueil, sous réserve de prendre à sa charge le matériel nécessaire pour y accéder (ordinateur, logiciel de navigation, raccordement au réseau Internet, …) et les frais usuels liés à la connexion au Site, sauf possibilité de bénéficier de points d’accès gratuits à Internet.</p>
            <p>Toutefois, et sans préjudice de l’application de l’article 5 ci-dessous, les mineurs ne sont admis à se connecter au Site qu’à la condition d’avoir obtenu, préalablement, l’autorisation de la part d’une personne titulaire de l'autorité parentale veillant au respect des présentes Conditions Générales d’Utilisation.</p>
            <p>4.2 Netdistrict, qui se réserve le droit à sa seule discrétion de changer ou d'interrompre à tout moment un des services du Site, fera son possible pour que le Site soit accessible 24 heures sur 24, 7 jours sur 7, sous réserve :</p>
            <ul>
                <li>des contraintes inhérentes au fonctionnement d’Internet ;</li>
                <li>des interventions de maintenance nécessaires au bon fonctionnement ou à l’évolution du Site ;</li>
                <li>des éventuelles bugs ou pannes ;</li>
                <li>des cas de force majeure ou événements hors du contrôle de Netdistrict.</li>
            </ul>
            <p>D’une manière générale, les internautes et Membres déclarent accepter les caractéristiques et les limites inhérentes à l'Internet, et reconnaissent en particulier :</p>
            <ul>
                <li>que l’accès ou l’utilisation du Site se fait à leurs risques et périls, le Site étant accessible "en l’état" ;</li>
                <li>qu’il leur appartient de prendre toutes les mesures appropriées pour protéger leurs matériels, logiciels et données des éventuelles atteintes susceptibles de se produire sur ou via Internet, comme par exemple les virus informatiques.</li>
            </ul>
            <p>4.3 Il est formellement interdit d’accéder au Site pour faire de la publicité pour une entreprise ou ses produits ou services.</p>
            <h3>5 – Inscription des Membres</h3>
            <p>5.1 Peuvent uniquement s'inscrire sur le Site les personnes physiques majeures selon la législation en vigueur dans leurs pays et jouissant pleinement de leur capacité juridique.</p>
            <p>5.2 Pour publier une annonce de job ou un Profil jobeur, tout internaute doit s'inscrire sur le Site pour en devenir Membre. Il peut pour ce faire :</p>
            <ul>
                <li>soit se rendre sur le Site, cliquez sur l’onglet « s’inscrire » et renseigner les champs obligatoires figurant sur le formulaire d'inscription du Site (nom d'utilisateur, mot de passe, code postal, adresse électronique valide, …). Une fois ces champs remplis, l'internaute doit valider son formulaire d'inscription en cliquant sur le bouton « Inscription » et accepter les Conditions Générales d’Utilisation du Site.</li>
                <li>s’inscrire par l’intermédiaire du site Internet Facebook™ Connect [<em>« Facebook » est une marque de la société Facebook Inc., entreprise établie et enregistrée dans l’État du Delaware, numéro d’inscription : 3835815, Secretary of State, State of Delaware</em>
                    ], dont l’utilisation suppose le respect, en particulier, de la «<em>Déclaration des droits et responsabilités</em>
                    », des «<em>Règlements de la plate-forme Facebook</em>
                    » et de la «<em>Politique d’utilisation des données - Autres sites web ou applications</em>
                    » de la société Facebook. La connexion au Site par ce biais, qui suppose également l’acceptation des présentes Conditions Générales d’Utilisation, ne signifie pas que le Site est affilié, parrainé ou approuvé par la société Facebook.</li>
            </ul>
            <p>5.3 En validant son inscription, l'internaute reconnaît avoir renseigné de manière véridique et le plus précisément possible le formulaire d'inscription, à partir de données actuelles qui lui sont personnelles. Si des informations requises venaient à être modifiées au cours du temps, le Membre s'engage à les modifier dans son profil dans les plus brefs délais.</p>
            <p>5.4 Le Membre doit veiller à assurer la confidentialité de ses login et mot de passe. Il sera seul responsable de l’utilisation de ces identifiants, qu’elle soit ou non frauduleuse. Si un Membre constate que ses identifiants sont utilisés frauduleusement par un tiers, il s’engage à en avertir immédiatement Alloservice par email :contact@alloservice.com</p>
            <p>5.5 Alloservice se réserve le droit de refuser l'inscription de toute personne physique qui ne respecterait pas les présentes Conditions Générales d’Utilisation ou la législation en vigueur.</p>
            <h3>6 – Exclusion d’un Membre</h3>
            <p>6.1 Toute violation des présentes Conditions Générales d’Utilisation par un Membre pourra conduire à son exclusion du Site.</p>
            <p>6.2 D’une manière générale, les Membres s’engagent à s’interdire d’utiliser le Site dans un but :</p>
            <ul>
                <li>injurieux, diffamatoire, contraire à l'ordre public et aux bonnes mœurs ;</li>
                <li>portant atteinte à l’intimité de la vie privée de tiers ;</li>
                <li>à caractère directement publicitaire ou promotionnel ou constituant une publicité interdite au regard des textes applicables (notamment pour le tabac ou l’alcool) ;</li>
                <li>constitutif d’envoi de messages non sollicités à caractère commercial ;</li>
                <li>destiné à contourner les règles sociales et fiscales applicables en matière de demandes ou d’offres d’emploi ;</li>
                <li>incompatible avec la protection des données personnelles ;</li>
                <li>constitutif d’un dénigrement d’une entreprise ou de ses produits, de parasitisme, de concurrence déloyale ou de contrefaçon ;</li>
                <li>portant atteinte au fonctionnement du Site ;</li>
                <li>et plus largement portant atteinte à toute loi ou règlementation en vigueur.</li>
            </ul>
            <p>6.3 En cas d'exclusion d’un Membre, aucune responsabilité de Alloservice ne pourra être encourue et toutes ses annonces de jobs et/ou Profils jobeur seront supprimés.</p>
            <h3>7 – Retrait d’un Membre</h3>
            <p>Tout Membre peut, à tout moment, clôturer son compte, sous réserve du respect des obligations qui ont été mises à sa charge avant cette clôture (réalisation d’une prestation, paiement de frais de publication, Transaction entre un posteur et un jobeur…).</p>
            <h3>8 – Frais de publication</h3>
            <p>8.1 La publication d’une annonce de job sur le Site est gratuite.</p>
            <p>8.2 La saisie de commentaires sur les offres des Posteurs est gratuit. L’acceptation d’un job via la plateforme est gratuit. Les conditions générales de vente sont accessibles depuis toutes les pages de paiement du site et dans le Footer.</p>
            <h3>9 – Modalités de paiement des frais de service</h3>
            <p>Alloservice a le statut d'Agent d'établissement de paiement pour Mangopay.</p>
            <p>Alloservice, au travers de sa filiale Netdistrict France, a le statut de Mandataire des Services à la Personne, enregistré auprès du CR-CESU sous le numéro 1472804</p>
            <p>9.1 Les frais de service sont payables comptant en totalité, par voie de paiement sécurisé ou par chèque CESU préfinancés.</p>
            <p>9.2 La preuve de la transaction financière résulte des données enregistrées par l’organisme de paiement en ligne sélectionné par Alloservice ou par le CR-CESU. Les Membres sont invités à conserver pour leur besoin personnel le ticket électronique émis par l’organisme de paiement en ligne, qui reprend tous les éléments du paiement et le résultat de la demande d’autorisation bancaire.</p>
            <p>En utilisant le Site, les membres du site acceptent les conditions générales d’utilisation de la plateforme Mangopay, consultables à l'adresse suivante :
                <a class="text-info" href="https://alloservice.ch/Mangopay_Terms-FR.pdf" target="_blank">https://alloservice.ch/Mangopay_Terms-FR.pdf</a>.</p>
            <p>La plateforme Alloservice a souscrit une police d’assurance «responsabilité civile prestataire de service» auprès de AXA France IARD Mutuelle afin de permettre aux Membres de bénéficier d’une couverture assurantielle dans le cadre des Missions réalisées par eux via le Site, aux conditions prévues par la police.</p>
            <p>Cette assurance couvre le Jobeur à compter de la sélection d’un Jobeur par le posteur.</p>
            <p>Le détail des garanties souscrites (notamment nature, limites, franchises etc…) Les conditions générales de la police AXA applicables sont accessibles en ligne.</p>
            <p>Le Jobeur déclare en avoir pris pleinement connaissance en acceptant les présentes Conditions Générales. En utilisant le Site, les Jobeurs du Site acceptent les conditions générales du contrat AXA consultable à l'adresse suivante :
                <a class="text-info" href="https://alloservice.ch/460+653+D_Prestataires_de_Services.pdf" target="_blank">https://alloservice.ch/460+653+D_Prestataires_de_Services.pdf</a>
            </p>
            <p>La Société ne saurait être tenue pour responsable en cas de non application de la police AXA à un dommage quel qu’il soit.</p>
            <p>Le Jobeur reconnaît par ailleurs qu’il est libre de souscrire lui-même une assurance responsabilité civile professionnelle en son nom et pour son compte, afin notamment d’étendre le domaine et/ou le champ d’application géographique et/ou temporel des garanties couvertes par la police AXA souscrite par la Société ou de réduire le montant des franchises prévues.</p>
            <p>9.3 Le paiement par chèque CESU préfinancé se déroule en 2 étapes :</p>
            <p>Etape 1 : Le chèque CESU est soumis au CR-CESU afin de pouvoir payer les frais de service et le prestataire.</p>
            <p>Etape 2 : La somme est disponible pour payer une prestation éligible.</p>
            <p>9.4 Les prestations éligibles sont spécifiées sur le chèque CESU. Le Posteur est reponsable de l'utilisation appropriée, toutefois Alloservice ne permettra l'utilisation seulement sur les catégories de petit bricolage, de jardinage, de ménage et de garde d'enfant.</p>
            <p>9.5 Les chèques CESU ne peuvent être utilisés que pour le paiement d'un particulier-employé déclaré par Alloservice, ou un auto-entrepreneur agréé SAP.</p>
            <h3>10 – Responsabilité de Alloservice</h3>
            <p>10.1 Alloservice n'est pas responsable du contenu des annonces hébergées sur son Site à l’initiative et sous la responsabilité des Membres.</p>
            <p>10.2 La responsabilité de Alloservice ne peut être recherchée en cas de conflit ou litige portant sur le contenu des informations communiquées par les Membres sur le Site (textes, images, photographies, logos, …) tant que Alloservice, qui n’est que l’hébergeur des annonces éditées sur le Site par ses Membres, n'est pas notifiée, dans les conditions prévues par la loi, du contenu présent sur le Site présenté comme étant illicite.</p>
            <p>Cela étant précisé :</p>
            <ul>
                <li>Alloservice invite les internautes et ses Membres à l’informer, sur l’adresse électronique - contact@alloservice.com -, de tout éventuel abus constaté sur le site ;</li>
                <li>les Membres qui pensent que le contenu inséré sur le Site par un internaute ou un autre Membre porte une atteinte à leurs droits ou aux Conditions Générales d’Utilisation peuvent envoyer s’ils le souhaitent un message à l’adresse : - contact@alloservice.com -.</li>
            </ul>
            <p>10.3 TRES IMPORTANT : LORSQUE DES MEMBRES S’ENTENDENT EN TOUTE LIBERTE, A PARTIR DES ANNONCES QU’ILS ONT PUBLIEES SUR LE SITE, SUR LA REALISATION D’UNE PRESTATION DE SERVICES, IL SE FORME ENTRE EUX UN CONTRAT AUQUEL ALLOSERVICE N’EST AUCUNEMENT PARTIE.<br>LA NON-EXECUTION OU LA MAUVAISE EXECUTION DE CE CONTRAT ENTRE MEMBRES NE RELEVE PAS DE LA RESPONSABILITE DE ALLOSERVICE MAIS DE CELLE DU POSTEUR OU DU JOBEUR QUI N’A PAS RESPECTE LES OBLIGATIONS QUI DECOULENT DE L’ACCORD QUI EST INTERVENU AVEC SON COCONTRACTANT.</p>
            <p>De ce fait :</p>
            <p>a) les Membres du Site déclarent exonérer Alloservice de toute responsabilité :</p>
            <ul>
                <li>tenant aux réponses ou à l’absence de réponse obtenue à la suite de la publication d’une annonce de job ou d’un Profil jobeur ;</li>
                <li>liée à la sélection ou à la non-sélection d’un Jobeur pour une annonce de job déterminée ;</li>
                <li>tenant au bon déroulement ou au résultat d’une prestation (par exemple le fait qu’un Jobeur ne se présente pas, la qualité de service, le délai de service, …) ;</li>
                <li>tenant au paiement d’une prestation ;</li>
                <li>liée au contrôle de la qualité et du déroulement de la prestation ;</li>
                <li>ou plus largement en cas de conflit ou de litige survenant entre les Membres.</li>
            </ul>
            <p>b) les Membres sont seuls responsables des dommages et préjudices directs ou indirects, matériels ou immatériels, causés entre eux, à Alloservice et/ou à tout tiers et s'engagent en particulier à indemniser Alloservice en cas de demande, réclamation et/ou condamnation à des dommages et intérêts dont Alloservice pourrait être menacée ou être l'objet et/ou qui pourrait être prononcée contre cette dernière, y compris les frais raisonnables d'avocats que Alloservice aura pu être conduite à exposer, dès lors que ces demandes, réclamations et/ou condamnations auraient pour cause, fondement ou origine des informations communiquées par les Membres sur le Site ou la réalisation de prestations fournies en application d’informations communiquées par les Membres sur le Site.</p>
            <p>10.4 Alloservice décline toute responsabilité quant à la fiabilité des informations visibles sur le Site, de même que quant à l’accès, au contenu et à l’utilisation des sites Internet édités par des tiers et qui seraient le cas échéant accessibles depuis le Site par le biais de liens hypertextes.</p>
            <p>10.5 Alloservice décline toute responsabilité pour les pertes indirectes, manque à gagner, pertes de bénéfice, perte ou altération de données, du fait de la navigation sur le Site ou de l’utilisation de ses fonctionnalités et ne garantit pas que sa plate-forme soit accessible et fonctionnelle en permanence.</p>
            <p>10.6 Alloservice décline toute responsabilité quant au contenu des publicités qui pourraient, le cas échéant, être accessibles à partir du Site, ainsi qu’aux produits ou services proposés par leur intermédiaire.</p>
            <p>10.7 Toutes les photographies et images présentées sur le Site ne sont pas contractuelles mais simplement exemplatives en ce qu’elles ne constituent que de simples illustrations du contenu des annonces publiées par les Membres. Alloservice ne pourra être tenue responsable si une photographie ou une image ne reflète pas la réalité d'une prestation pour laquelle un job a été présenté dans une annonce publiée sur le Site.</p>
            <h3>11 – Responsabilité des Membres</h3>
            <p>11.1 Les Membres reconnaissent qu’ils sont seuls responsables de l’ensemble des contenus qu’ils insèrent sur le Site (textes, photographies, images, logos ou autres contenus).</p>
            <p>11.2 Les Membres reconnaissent qu’ils sont seuls responsables de la bonne exécution des obligations qu’ils prennent envers leur cocontractant (Posteur ou Jobeur) pour la réalisation d’un job.</p>
            <h3>12 – Propriété intellectuelle</h3>
            <p>12.1 Alloservice est titulaire des droits de propriété intellectuelle sur le Site considéré en tant que support des annonces publiées par les Membres (architecture du Site, organisation des fonctionnalités, ergonomie, fonctionnalités logicielles, etc…). Toute reprise des éléments constitutifs du Site sans autorisation préalable et écrite de Alloservice est susceptible de constituer une contrefaçon et d’engager la responsabilité civile et/ou pénale de son auteur.</p>
            <p>12.2 Les Membres s'engagent à ne publier sur le Site aucun élément (texte, photographie, image, logo ou toute autre création ou signe soumis à des droits de propriété intellectuelle) sans le consentement écrit et préalable du titulaire des droits.</p>
            <p>12.3 En tant que de besoin, les Membres concèdent à Alloservice une licence d'utilisation des droits de propriété intellectuelle attachés aux contenus qu’ils pourraient le cas échéant insérer sur le Site. Cette licence mondiale et pour la durée des droits en cause comprend notamment le droit pour Alloservice de reproduire, représenter ou adapter lesdits contenus pour permettre leur présentation optimale sur le Site (notamment au regard de sa charte graphique et de ses performances techniques).</p>
            <h3>13 – Données personnelles</h3>
            <p>13.1 Données relatives aux Membres</p>
            <p>Conformément aux dispositions de la loi Informatique et liberté modifiée n°78-17 du 6 Janvier 1978, le traitement des données personnelles recueillies par Alloservice a fait l'objet d'une déclaration à la Commission Nationale de l'informatique et des libertés (CNIL).</p>
            <p>Les données renseignées par les internautes pour procéder à leur inscription en tant que Membre sont destinées à Alloservice pour lui permettre de prendre toute mesure utile pour l’hébergement, la publication et la gestion des annonces des Membres, la facturation des frais de publication, la réalisation d’études statistiques, les services de personnalisation de ses interactions avec ses Membres (alertes liées à la parution de nouvelles annonces, e-mails, notifications, ….) et plus largement le fonctionnement du Site. Ces données seront intégrées dans une base de données accessible à Alloservice et le cas échéant, pour ce qui est des formalités de paiement des frais de publication, au partenaire bancaire qui pourrait intervenir dans ce processus. Il est précisé que Alloservice se réserve de faire part à ses Membres ou à ses partenaires des résultats d’études statistiques ne faisant pas de référence directe à des données personnelles.</p>
            <p>La collecte des informations nominatives des Membres aux fins de l’accès aux fonctionnalités du Site est obligatoire, ces informations étant indispensables pour l’identification des personnes qui sollicitent la publication d’annonces sur le Site et pour l’identification et la gestion des Posteurs de Alloservice. Le défaut de transmission de certaines données peut ainsi faire directement échec à l’inscription sur le Site.</p>
            <p>Les Membres justifiant de leur identité pourront exiger que soient, selon les cas, rectifiées, complétées, mises à jour, verrouillées ou effacées les données à caractère personnel les concernant, qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l’utilisation, la communication ou la conservation est interdite. Ces droits pourront être exercés par courrier électronique à l’adresse suivante – contact@alloservice.com - les Membres devant mentionner les champs, données et/ou informations qu’ils souhaitent modifier.</p>
            <p>13.2 Données des Membres</p>
            <p>Alloservice a pris d’importantes précautions pour archiver les données des Membres dans un environnement sécurisé. Cela étant, les Membres sont invités à informer sans délai Alloservice de tout constat d’une éventuelle violation de la sécurité entraînant accidentellement ou de manière illicite la destruction, la perte, l'altération, la divulgation ou l'accès non autorisé à des données à caractère personnel les concernant.</p>
            <p>Sauf accord préalable de leur part au moment de leur inscription par le biais d’une case à cocher volontairement, Alloservice n’entend pas vendre les données gérées par ses Membres, ni les transférer directement ou indirectement ou encore les échanger avec des tiers. Alloservice n’utilisera pas non plus ces données en lien avec des réseaux ou systèmes d’échange de publicités, des courtiers en données ou d’autres outils liées à la publicité.</p>
            <p>Si un Membre s’est connecté au Site par l’intermédiaire de Facebook™ Connect, Alloservice se réserve la possibilité de répondre favorablement à toute demande de suppression des données de la part de la société Facebook™.</p>
            <p>En cas d’indices graves et concordants de la violation de la loi Informatique et Libertés par un Membre ou par tout autre tiers, Alloservice se réserve le droit de communiquer aux autorités compétentes toutes les données personnelles pertinentes.</p>
            <p>13.3 Avertissement sur la protection, par les Membres, de leurs données personnelles</p>
            <p>Alloservice attire l’attention des Membres sur le fait :</p>
            <ul>
                <li>que les informations accessibles à partir de leurs comptes constituent des données personnelles ;</li>
                <li>que l’utilisation, par leurs soins et sous leur responsabilité, des fonctionnalités de publication d’annonces qui sont disponibles à partir du Site doit être engagée conformément aux dispositions de la loi informatique et libertés, ce qui suppose en particulier de ne pas détourner des données personnelles de tiers ;</li>
                <li>qu’ils doivent, d’une manière générale, faire preuve de prudence lorsqu’ils publient des données personnelles sur internet (notamment car, même après avoir supprimé une annonce ou résilié leur compte, certaines informations sont susceptibles de rester visibles sur Internet, en particulier si elles ont fait l’objet d’un partage, d’un archivage ou d’une copie sur un site tiers).</li>
            </ul>
            <h3>14 – Données de connexion (« Cookies »)</h3>
            <p>Alloservice utilise des témoins de connexion (« cookies ») qui ont pour finalité exclusive de permettre ou de faciliter la communication par voie électronique ou qui sont strictement nécessaire à la fourniture du service de paiement en ligne. Ces cookies sont expressément autorisés par la loi Informatique et Libertés (article 32-II de la loi Informatique et liberté modifiée n°78-17 du 6 Janvier 1978).</p>
            <h3>15 – Lettres d’information</h3>
            <p>15.1 En renseignant leur adresse électronique (e-mail) sur le Site, les Membres acceptent que Alloservice leur envoie, à une fréquence et sous une forme qu’elle aura décidée, une lettre d’information.</p>
            <p>15.2 Sous réserve de cocher la case prévue à cet effet lors de leur inscription, les Membres acceptent, dans les mêmes conditions, de recevoir les lettres d’informations des partenaires de Alloservice.</p>
            <p>15.3 Les Membres auront la possibilité de se désinscrire à tout moment des lettres d’information en cliquant sur le lien prévu à cet effet, présent dans les lettres d’information.</p>
            <h3>16 - Notification des infractions particulièrement graves</h3>
            <p>Compte tenu de l'intérêt général attaché à la répression de l'apologie des crimes contre l'humanité, de l'incitation à la haine raciale ainsi que de la pornographie enfantine, de l'incitation à la violence, notamment l'incitation aux violences faites aux femmes, ainsi que des atteintes à la dignité humaine, vous avez la possibilité de nous adresser, à tout moment, une alerte si vous constatez qu’un contenu du Site est susceptible de constituer une infraction de ce type, à l’adresse suivante : - alerte@alloservice.ch -.</p>
            <h3>17 - Litiges</h3>
            <p>17.1 SOUS RESERVE DE LA COMPATIBILITE DE LA PRESENTE CLAUSE A LA LEGISLATION APPLICABLE AU LITIGE, TOUT LITIGE OPPOSANT ALLOSERVICE ET UN MEMBRE PORTANT SUR LA VALIDITE, L'INTERPRETATION OU L'EXECUTION DES PRESENTES CONDITIONS GENERALES D’UTILISATION NON REGLE A L’AMIABLE SERA SOUMIS AUX TRIBUNAUX SUISSES MEME EN CAS DE PLURALITE DE DEFENDEURS OU D’APPEL EN INTERVENTION OU EN GARANTIE, Y COMPRIS POUR LES PROCEDURES D’URGENCE OU SUR REQUETE, ET A LA LOI SUISSE.</p>
            <p>17.2 Alloservice n'étant pas partie au contrat pouvant unir le Posteur et le Jobeur, elle ne peut être sollicitée pour aider à la résolution d'un litige entre deux Membres. Elle ne peut qu’inviter les Membres concernés à coopérer afin de trouver une solution amiable et rapide à leur litige.</p>
            <h2>Conditions particulières au Posteur</h2>
            <h3>1 – Rôle du Posteur</h3>
            <p>Le rôle du Posteur est de mettre en ligne, en toute liberté et sous sa seule responsabilité, des annonces de jobs correspondant véritablement à ses besoins personnels et comportant une description détaillée du service sollicité et une proposition de rémunération.</p>
            <p>Le Posteur est libre de choisir la nature du job recherché tant que ceci ne va pas à l'encontre des lois en vigueur, ni des présentes Conditions Générales d'Utilisation. Il fixe librement dans ses annonces publiées sur le Site les prix des jobs qu’il prend l’initiative de proposer.</p>
            <h3>2 - Engagements du Posteur</h3>
            <p>En choisissant de publier une annonce de job, le Posteur :</p>
            <ul>
                <li>s’engage à ne renseigner que des informations exactes et véridiques concernant son identité ;</li>
                <li>s’engage à ne se créer qu’un compte unique et à ne pas créer de compte Membre pour un tiers ;</li>
                <li>s'engage à décrire le plus précisément et le plus exactement possible le contenu du job pour lequel il recherche un Jobeur ;</li>
                <li>s’engage à ne solliciter la réalisation de services que dans des conditions compatibles avec les règles légales applicables aux services entre particuliers ou personne morale représentant une entreprise ;</li>
                <li>accepte de recevoir des courriers électroniques (emails) et/ou messages internes du Site l’avertissant de l’existence ou de la création de Profils jobeurs en relation avec ladite annonce de job ;</li>
                <li>s’engage à être présent au lieu et à la date et heure indiqués dans la description et à rémunérer le Jobeur pour le montant consenti immédiatement après la réalisation du job.</li>
            </ul>
            <h3>3 – Relations Posteur / Jobeur</h3>
            <p>Pour être mis en relation avec un Jobeur, le Posteur doit sélectionner un Jobeur en cliquant sur le bouton « Choisir » présent sur le Profil jobeur correspondant à son annonce de job. Dès lors et après validation du paiement de la prestation par carte bancaire ou chèque CESU préfinancé, le Posteur aura la possibilité de communiquer directement avec le Jobeur par le biais de la messagerie privée interne Alloservice.</p>
            <p>Alloservice attire l’attention des Posteurs sur le fait que sélectionner un Jobeur pour réaliser la prestation de services objet de l’annonce de job est un engagement ferme et définitif de rémunérer le Jobeur. Cet engagement ferme se matérialise dès le moment où le Posteur clique sur le bouton de la commande prévu à cet effet. (le choix du Jobeur).</p>
            <p>Dans un délai de 24 heures à compter de cette validation par le Posteur, Alloservice prend acte de cet événement en adressant au Jobeur et au Posteur un message de notification aux adresses électroniques (e-mails) respectives renseignées dans leurs profils. Alloservice ne peut être tenue responsable pour la non réception de ce courrier électronique si l'adresse électronique du Posteur ou du Jobeur est erronée ou obsolète.</p>
            <p>D’une manière générale, Alloservice recommande fortement au Posteur de procéder aux vérifications nécessaires auprès du Jobeur avant la validation de son choix pour fournir une prestation et/ou avant que la prestation de services soit réalisée, en vérifiant entre autres (liste non exhaustive) que :</p>
            <ul>
                <li>le Jobeur a l’âge légal pour réaliser cette prestation de services ;</li>
                <li>le Jobeur est qualifié pour réaliser cette prestation de services ;</li>
                <li>le Jobeur est dûment assuré pour réaliser cette prestation de services.</li>
            </ul>
            <h3>4 – Frais de publication</h3>
            <p>Alloservice ne facture aucun frais de publication au Posteur pour la publication de ses annonces de jobs sur le Site.</p>
            <h3>5 – Formalités liées au paiement de la prestation de services par le Posteur</h3>
            <p>LA TVA ET TOUT AUTRE IMPOT OU TAXE EN LIEN AVEC LA REMUNERATION D’UN JOBEUR AVEC LEQUEL LE POSTEUR AURAIT ETE MIS EN RELATION A PARTIR D’UNE ANNONCE PUBLIEE PAR LES MEMBRES SUR LE SITE SONT A LA CHARGE DU POSTEUR. LE POSTEUR EST EN OUTRE RESPONSABLE DE TOUTE DECLARATION AUPRES DE L’URSSAF ET/OU DE TOUTES LES AUTRES ADMINISTRATIONS OU AUTORITES COMPETENTES AU TITRE DE L’EMPLOI ET DE LA REMUNERATION D’UN PARTICULIER AVEC QUI IL AURA ETE MIS EN RELATION A PARTIR D’UNE ANNONCE PUBLIEE PAR LES MEMBRES SUR LE SITE.</p>
            <p>Alloservice ne pourra en aucun cas être tenue responsable d’une carence du Posteur dans ses obligations déclaratives.</p>
            <h3>6 – Hypothèse d’un souhait de rétractation du Posteur</h3>
            <p>Si le Posteur, après la sélection et la validation d’un Profil jobeur répondant à une de ses annonces, souhaite renoncer à la réalisation de la prestation, il lui est demandé d’annuler son job depuis son tableau bord prévenant ainsi le Jobeur.</p>
            <p>Dans cette hypothèse de rétractation du Posteur, Alloservice pourra, si bon lui semble et sans la moindre garantie à ce titre, se retourner vers le Jobeur pour lui demander s’il accepte ou non de renoncer au job, étant souligné que la validation du Profil jobeur par le Posteur fait naître entre eux un contrat auquel Alloservice est une tierce partie, de sorte que, dans tous les cas, seuls les Membres sont habilités à régler entre eux leurs éventuels litiges.</p>
            <h3>7 – Recommandation</h3>
            <p>Afin de rendre la sélection de jobeurs la plus pertinente possible sur le Site, Alloservice a mis en place un système d’appréciation et d’évaluation.</p>
            <p>Accepter de mentionner sur le profil d’un Jobeur une référence mentionnant le bon déroulement d’une prestation de services permet aux autres Membres d’être informés que le Jobeur concerné est une personne fiable qui réalise des prestations de services de qualité.</p>
            <p>Les Posteurs sont par ailleurs invités à noter les jobeurs qui ont réalisé pour eux des prestations de services, pour renseigner les autres Membres sur leur sérieux et leur efficacité.</p>
            <p>Dans tous les cas, le Posteur éviter tous propos injurieux, calomniateurs, diffamants ou toute autre parole répréhensible à l’encontre d’un Jobeur avec lequel il serait le cas échéant en conflit ou en litige, sous peine de recevoir un avertissement de la part de Alloservice ou d’être purement et simplement exclu du Site.</p>
            <h2>Conditions particulières à la création d'une annonce de job</h2>
            <h3>1 – Objet de l’annonce de job</h3>
            <p>Les annonces de jobs publiées sur le Site par le Posteur devront être conformes à la législation en vigueur.</p>
            <h3>2 - Annonces de jobs interdites</h3>
            <p>Il est interdit de publier sur le Site des annonces de jobs contraires aux dispositions légales, à l’ordre public, aux bonnes mœurs ou aux présentes Conditions Générales d’Utilisation.</p>
            <h3>3 – Lieu du job</h3>
            <p>Le lieu du job est décidé librement par le Posteur et doit être renseigné de la manière la plus précise possible dans son annonce de job.</p>
            <p>Le lieu du job peut être un espace privé appartenant au Posteur ou au Jobeur si le job peut être réalisé à domicile ou bien un espace public.</p>
            <p>Si le job se déroule dans un espace privé appartenant au Posteur, il doit le mettre à la disposition du Jobeur pour le bon déroulement de la prestation de services, en prenant toutes précautions utiles pour sa surveillance et son assurance.</p>
            <p>Si le job se déroule dans un espace privé n’appartenant pas au Posteur, il ne pourra être demandé au Jobeur de payer des frais supplémentaires lors de son arrivée dans le lieu si le Jobeur n’en a pas été averti préalablement dans l’annonce du job.</p>
            <p>Le Posteur s'engage à faire le nécessaire afin que le job puisse avoir lieu à l’endroit indiqué dans la description de la prestation figurant dans son annonce de job.</p>
            <h3>4 - Date, heure et durée du job</h3>
            <p>La date, l'heure et la durée du job sont choisies librement par le Posteur (qui peut s’entendre avec le Jobeur pour les modifier si nécessaire).</p>
            <h3>5 - Prix</h3>
            <p>Le prix de la prestation fixé librement par le Posteur doit être libellé en Euros.</p>
            <h3>6 - Corrections</h3>
            <p>Alloservice se réserve le droit d'apporter des modifications orthographiques, grammaticales et syntaxiques à tout contenu publié sur le Site sans que cela modifie la nature de la prestation pour laquelle un Jobeur est recherché. Alloservice n'est pas tenue de notifier ces modifications aux Membres.</p>
            <h3>7 – Absence de modifications</h3>
            <p>Aucune modification ne peut être apportée par le Posteur sur la nature, la description, le lieu, le prix la date et/ou la durée de la prestation indiqués dans l’annonce du job après qu’il ait sélectionné le Jobeur pour réaliser ladite prestation et validé son choix.</p>
            <h2>Conditions particulières au Jobeur</h2>
            <h3>1 – Rôle du Jobeur</h3>
            <p>Le rôle du Jobeur est de mettre en ligne, en toute liberté et sous sa seule responsabilité, un Profil jobeur correspondant véritablement à ses capacités personnelles et répondant aux annonces de jobs des Posteurs, dans le but de fournir à ces derniers des prestations de services de qualité.</p>
            <p>Pour être Jobeur, et donc déposer librement son Profil jobeur et être éventuellement sélectionné par un Posteur, l'internaute doit être Membre du Site et avoir rempli les champs obligatoires spécifiques au Jobeur.</p>
            <h3>2 - Engagements du Jobeur</h3>
            <p>En choisissant de publier un Profil jobeur, le Jobeur :</p>
            <ul>
                <li>s’engage à ne renseigner que des informations exactes et véridiques concernant son identité ;</li>
                <li>s’engage à ne se créer qu’un compte unique et à ne pas créer de compte Membre pour un tiers ;</li>
                <li>s'engage à décrire le plus précisément et le plus exactement possible son Profil jobeur ;</li>
                <li>accepte de recevoir des courriers électroniques (emails) et/ou messages internes du Site l’avertissant de l’existence ou de la création d’annonces de jobs en relation avec ledit Profil jobeur ;</li>
                <li>s’engage à ne proposer la réalisation de services que dans des conditions compatibles avec les règles légales applicables aux services à la personne ;</li>
                <li>doit renseigner ses coordonnées bancaires aux fins du prélèvement des éventuelles frais de publication et accepter le prix proposé par le Posteur ou proposer un prix différent (indifféremment à la hausse ou à la baisse) ;</li>
                <li>s’engage, s’il est choisi par un Posteur, à être présent au lieu et à la date et heure indiqués dans la description du job et à fournir le service requis en accord avec la description qui en a été faite et pour le prix convenu.</li>
                <li>S’engage à lire et valider ses engagements en signant une charte de bonne conduite sur le site.</li>
            </ul>
            <h3>3 – Relations Jobeur / Posteur</h3>
            <p>Dans un délai de 24 heures à compter de la validation, par le Posteur, du choix du Jobeur, Alloservice prend acte de cet événement en adressant au Jobeur et au Posteur un message de notification aux adresses électroniques (e-mails) respectives renseignées dans leurs profils. Alloservice ne peut être tenue responsable pour la non réception de cet e-mail si l'adresse électronique du Posteur ou du Jobeur est erronée ou obsolète.</p>
            <p>D’une manière générale, Alloservice recommande fortement au Jobeur de procéder aux vérifications nécessaires auprès du Posteur avant de fournir la prestation de services, afin que le Posteur et le Jobeur soient parfaitement d’accord sur son périmètre précis, son lieu, sa date et son prix.</p>
            <h3>4 - Frais de publication</h3>
            <p>L'insertion d’un Profil utilisateur ou la saisie de commentaire sur les offres des Posteurs sont payantes. Les conditions générales de vente sont accessibles depuis toutes les pages de paiement du site et dans le Footer en statut connecté</p>
            <h3>5 – TVA et formalités liées à la fourniture de la prestation de services par le Jobeur</h3>
            <p>Netdistrict étant une société prestataire de services de droit suisse, la TVA appliqué est celle du pays depuis lequel Netdistrict développe, exploite et commercialise le site Alloservice.</p>
            <p>Alloservice ne peut être tenue responsable de la collecte, du reversement ou de la notification de la TVA ou tout autre taxe ou impôt en lien avec la rémunération perçue par un Jobeur de la part d’un Posteur.</p>
            <p>LE JOBEUR EST SEUL RESPONSABLE DE TOUTE DECLARATION AUPRES DE L’ADMINISTRATION FISCALE ET DES AUTORITES COMPETENTES DU MONTANT DE SES REVENUS ISSUS DE PRESTATIONS DE SERVICES QU’IL AURA ACCOMPLIES POUR LE COMPTE DE PARTICULIERS A PARTIR D’ANNONCES PUBLIEES PAR LES MEMBRES SUR LE SITE.</p>
            <p>Alloservice ne pourra en aucun cas être tenue responsable d’une carence du Jobeur dans ses obligations déclaratives.</p>
            <h3>6 – Recommandation</h3>
            <p>Afin de rendre la sélection de jobeurs la plus pertinente possible sur le Site, Alloservice a mis en place un système de référence et d’évaluation.</p>
            <p>En devenant Membre, les jobeurs acceptent expressément ce système de référence et d’évaluation par les Posteurs, étant souligné que Alloservice demande aux Posteurs de ne pas tenir de propos injurieux, calomniateurs, diffamants ou toute autre parole répréhensible à l’encontre d’un Jobeur avec lequel il serait le cas échéant en conflit ou en litige, sous peine de recevoir un avertissement de la part de Alloservice ou d’être purement et simplement exclu du Site.</p>
            <h2>Conditions particulières à la création d'un Profil jobeur</h2>
            <h3>1 – Objet du Profil jobeur</h3>
            <p>Les Profils jobeurs publiés sur le Site par le Jobeur devront être en conformité avec la législation en vigueur, et en particulier mais non exclusivement avec les dispositions des articles L.5331-1 et suivants sur la diffusion et la publicité des offres et demandes d’emploi.</p>
            <h3>2 – Profils jobeurs interdits</h3>
            <p>Il est interdit de publier sur le Site des Profils jobeurs contraires aux dispositions légales, à l’ordre public, aux bonnes mmœursurs ou aux présentes Conditions Générales d’Utilisation.</p>
            <h3>3 – Lieu du job</h3>
            <p>Le Jobeur s'engage à faire le nécessaire pour se rendre au lieu indiqué par l’annonce de job, par ses propres moyens (sauf accord contraire entre les Membres).</p>
            <h3>4 - Date, heure et durée du job</h3>
            <p>La date, l'heure et la durée du job sont choisies librement par le Posteur (qui peut s’entendre avec le Jobeur pour les modifier si nécessaire).</p>
            <h3>5 - Prix</h3>
            <p>Le prix de la prestation fixé librement (en accord avec le Jobeur ) par le Posteur est libellé et payé au Jobeur en Euros.</p>
            <h3>6 - Corrections</h3>
            <p>Alloservice se réserve le droit d'apporter des modifications orthographiques, grammaticales et syntaxiques à tout contenu publié sur le Site sans que cela modifie la nature du Profil jobeur. Alloservice n'est pas tenue de notifier ces modifications aux Membres.</p>
            <h3>7 – Absence de modifications</h3>
            <p>Le Jobeur ne peut, après avoir été définitivement sélectionné par le Posteur pour réaliser une prestation, se prévaloir de mauvaise foi auprès du Posteur d’une quelconque modification postérieure de son Profil jobeur pour obtenir un avantage quelconque ou échapper à ses obligations.</p>
        </div>
        <div id="batBeacon0.9974727404451333" style="width:0px; height:0px; display:none; visibility:hidden;"><img alt="" height="0" id="batBeacon0.4217585459886566" src="./CGU - Alloservice_files/0" style="width:0px; height:0px; display:none; visibility:hidden;" width="0"></div>
    </div>
{% endblock %}
