<footer class="footer">
  <div class="footer-inner">
    <a title="Accueil" href="{{ path('alloservice_site_centre_d_aide') }}">Centre d'aide</a>
    <a href="{{ path('alloservice_site_contact') }}">Nous contacter</a>
    <a href="{{ path('alloservice_site_homepage') }}">Retour au site Alloservice</a>
  </div>
</footer>