<div class="bg-gray">
    <div class="st-1">
        <p class="st-2">Bonjour {{lastname}} {{name}},</p>
        <p class="st-3">Pour récupérer votre compte, merci de cliquer sur ce lien ci-dessous.</p>
        <div class="st-4">
            <a href="{{url}}" data-saferedirecturl="" rel="noreferrer" target="_blank" class="st-5">
                Modifier mon mot de passe
            </a>
        </div>
        <p class="st-6">
            A très vite sur Alloservice !
        </p>
    </div>
    <div class="st-7">
        <div class="st-8">
            <p class="st-9">
                <a data-saferedirecturl="" href="" rel="noreferrer" style="color:#7c8995;text-decoration:none" target="_blank">
                    Besoin d'aide ?
                </a>
            </p>
        </div>
        <div class="st-10">
            <p class="st-11"></p>
            <p class="st-11">
                Ajoutez
                <a href="?&cs=wh&v=b&to=noreply@alloservice.com" rel="noreferrer" target="_blank">noreply@alloservice.com</a>
                à votre carnet d'adresses pour recevoir tous les e-mails de Alloservice.
            </p>
        </div>
        <div class="st-12">
            © Netdistrict, tous droits réservés. Rue Baylon 2Bis, 1227 Carouge, Suisse.
        </div>
    </div>
</div>
